@{
    ViewData["Title"] = "Get to Know Joel";
}
<h2>Get to Know Joel</h2>
<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale</a></li>
</ul>
<a href="https://baconsale.com/" target="_blank">
    <img src="https://byu.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4" alt="Baconsale">
</a>
